# /etc/systemd/system/virtualbox-auto.service

[Unit]
Description=automatic VirtualBox VMs
Requires=virtualbox.service
After=virtualbox.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/virtualbox-auto/virtualbox_auto_start.py --verbose
ExecStop=/usr/lib/virtualbox-auto/virtualbox_auto_stop.py --verbose

[Install]
WantedBy=multi-user.target
